<form action="/event/form" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="category" placeholder="category">
    <input type="text" name="text" placeholder="text">
    <input type="text" name="file" placeholder="file">
    <input type="text" name="location" placeholder="location">
    <input type="submit" value="Create event">
</form>