<h1>Profil</h1>

<div class="userDashboard">

  <ul>
    <img src="{{this.photo}}">
    <h2>{{user.fullname}} {{user.surname}}<H2>
        <li>
          <a href="">Posts</a>
        </li>
        <li>
          <a href="">Follow</a>
        </li>
        <li>
          <a href="">Followers</a>
        </li>
  </ul>
</div>

<div class="userCourses">
  <h2>Courses</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi sunt asperiores dolorum sint sit reprehenderit quae
    corporis deserunt error officia expedita eaque ad commodi saepe maxime veritatis eum, ratione ea.</p>
</div>

<div class="userPosts">
  <h2>Post</h2>
  <h3></h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae rerum, architecto maxime, tenetur voluptas
    tempora adipisci eligendi laudantium facilis nam quia? Perferendis voluptatem sit fugiat vitae quasi porro delectus
    voluptatibus?</p>
</div>