<form action="/user/register" method="POST">
    <input type="text" name="fullName" placeholder="fullName">
    <input type="text" name="surname" placeholder="surname">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="image" placeholder="image">
    <input type="date" name="birthDate">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="confirmPassword" placeholder="confirm password">
    <input type="submit" value="Submit">
</form>