<form action="/post/submit" method="post">

    <input type="text" name="text" placeholder="text">
    <input type="text" name="file" placeholder="file">
    <input type="text" name="location" placeholder="location">
    <input type="submit" value="send post">

</form>